body{
    background-color: #FDEBD0;
    color:black;
}
h1{
    background-color: aqua;
}
.titulo{
    background-color: cadetblue;
}
h2{
    background-color: aquamarin;
    color: #abb2b9;
}
.conten{
    background-color: aliceblue;
}