body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}


header {
    display: block;
    position: relative;
    background-image: url(./img/banner.png);
    width: 100%;
    height: 150px;
    background-size: cover;
    color: white;
    padding: 20px;
}

.hero {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    gap: 20px;
}

.hero img {
    max-width: 100%;
    height: auto;
}

.navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #333;
            padding: 10px;
        }
        .navbar a {
            color: white;
            text-decoration: none;
            padding: 10px 15px;
        }
        .navbar a:hover {
            background-color: #555;
        }
        .search-container {
            display: flex;
        }
        .search-container input {
            padding: 5px;
            border: none;
            border-radius: 5px;
        }
        .nav-btns {
            display: flex;
            justify-content: center;
            gap: 10px;
        }
.nav-btns a {
    padding: 10px 15px;
    background-color: #8c8c8c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #FF5722;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.features h2 {
    margin-top: 0;
    text-align: center;
}

.feature {
    width: 45%; /* Divide en dos columnas con espacio */
    padding: 8px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 5px;
}


footer {
    background: #333;
    color: white;
    padding: 10px;
}

